@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, "Open Sans";
  background: hsl(0, 0%, 95%);
  color: #333333;
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

main {
  min-height: 100%;
  display: grid;
  place-items: center;
}

nav {
  background: #fff;
  height: 4rem;
  display: grid;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.nav-center {
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center h4 {
  margin-bottom: 0;
  color: hsl(105, 78%, 60%);
}
.nav-links {
  display: flex;
}
nav a {
  font-weight: 700;
  font-size: 1rem;
  color: hsl(205, 86%, 17%);
  letter-spacing: 2px;
  margin-right: 13px;
}
nav a:hover {
  color: hsl(105, 50%, 50%);
}
main {
  height: 600px;
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
}
.container h2 {
  background: #222;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}
.renk {
  color: hsl(205, 78%, 60%);
}
.buton1 {
  font-family: "Roboto", sans-serif;
  background: transparent;
  color: black;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
}
.buton1:hover {
  color: white;
  background: black;
}
